* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #333;
  display: flex;
  justify-content: center;
}
body .system {
  margin: 20px;
  padding: 20px;
}
@media screen and (max-width: 510px) {
  body .system {
    width: 100%;
  }
}
body .system .title {
  text-align: center;
}
body .system .title h2, body .system .title p {
  color: white;
  text-transform: uppercase;
}
body .system .data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .system .data form {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .system .data form input {
  padding: 10px 5px;
  background-color: #111;
  border: none;
  transition: 0.5s ease;
  color: white;
}
body .system .data form input:focus {
  outline: none;
  transform: scale(1.1);
  background-color: black;
}
body .system .data form #create {
  border-radius: 7px;
  background-color: blueviolet;
  padding: 10px 5px;
  transition: 0.5s ease;
  cursor: pointer;
  opacity: 80%;
  color: white;
  text-align: center;
}
body .system .data form #create:hover {
  opacity: 100%;
}
body .system .data form .total-data {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  body .system .data form .total-data {
    flex-direction: column;
  }
}
body .system .data form .total-data .total {
  background-color: red;
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  body .system .data form .total-data .total {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  body .system .data form .total-data input {
    width: 100%;
  }
}
body .system .data form .search-control {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  body .system .data form .search-control {
    flex-direction: column;
  }
}
body .system .data form .search-control div {
  color: white;
  text-align: center;
  flex-grow: 1;
  padding: 5px;
  border-radius: 7px;
  background-color: blueviolet;
  cursor: pointer;
  opacity: 80%;
  transition: 0.5s ease;
}
body .system .data form .search-control div:hover {
  opacity: 100%;
}
body .system .data form .get-function {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  body .system .data form .get-function {
    flex-direction: column;
  }
}
body .system .data form .get-function div {
  color: white;
  text-align: center;
  flex-grow: 1;
  padding: 5px;
  border-radius: 7px;
  background-color: blueviolet;
  cursor: pointer;
  opacity: 80%;
  transition: 0.5s ease;
}
body .system .data form .get-function div:hover {
  opacity: 100%;
}
body .system .data .delete-all {
  background-color: blueviolet;
  padding: 5px;
  color: white;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  opacity: 80%;
  transition: 0.5s ease;
  display: none;
}
body .system .data .delete-all:hover {
  opacity: 100%;
}
body .system .table {
  overflow: auto;
  max-height: 400px;
  margin-top: 15px;
}
body .system .table::-webkit-scrollbar {
  width: 15px;
}
body .system .table::-webkit-scrollbar-track {
  background-color: white;
}
body .system .table::-webkit-scrollbar-thumb {
  background-color: blueviolet;
}
body .system .table::-webkit-scrollbar-thumb:hover {
  background-color: #111;
}
body .system .table table {
  width: 100%;
  text-align: center;
}
body .system .table table tr {
  color: white;
}
body .system .table table tr th {
  text-transform: uppercase;
  padding: 5px;
}
body .system .table table tbody tr td {
  padding: 5px;
  font-size: 0.9rem;
}
body .system .table table tbody tr td button {
  cursor: pointer;
  background-color: blueviolet;
  border-radius: 5px;
  padding: 5px;
  color: white;
  outline: none;
  border: none;
  opacity: 80%;
  transition: 0.5s ease;
}
body .system .table table tbody tr td button:hover {
  opacity: 100%;
}/*# sourceMappingURL=index.css.map */